<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="NLog" version="4.6.8" targetFramework="net48" />
  <package id="RarelySimple.AvatarScriptLink" version="0.2.8-beta-gcb8b3e5a9c" targetFramework="net48" />
  <package id="System.Data.Odbc" version="4.7.0" targetFramework="net48" />
</packages>